<div class="admin">
  <p class="name">{{admin.Name}} </p>
  <p class="scor"> Scorul : {{ admin.Scor}}</p>

</div>

<div class= "user">
  <p class="name">{{user.name }}</p>
  <p class="scor">Scorul : {{ user.Scor }}</p>
</div>
<div>
 <h1> {{intrebari[user.Index].intrebare}}</h1>
 <div *ngIf="user.OK==0"><app-raspuns-user></app-raspuns-user></div>
 <div class="intreb" *ngIf="user.OK !=0 && admin.OK!=0">
    <form >
    <ul >
        <li  *ngFor="let rasp of intrebari[user.Index].raspunsuri; let j=index">
        <input *ngIf="j == (admin.OK-1)" class="button" type="submit" value="{{admin.Intreb}} " (click)=press(j)>
        <input *ngIf="j != (admin.OK-1)" class="button" type="submit" value="{{ rasp.raspuns}} " (click)=press(j)>
    </li> 
    </ul>
    </form>
 </div>
  
  

</div>
