
<!--<div class = "faze"*ngIf="_index == 0 ">  
        <h2>Faza Întâi</h2>
    </div>
    <div class = "faze" *ngIf="_index == 10 ">  
        <h2>Faza Doi</h2>
    </div>
    <div class = "faze" *ngIf="_index == 15 ">  
        <h2>Faza Trei</h2>
    </div>

-->
<div class="admin">
    <p class="name">{{PlayerAdmin.Nickname}} </p>
    <p class="scor"> Scorul : {{ scorA}}</p>

</div>

<div class= "user">
    <p class="name">{{PlayerUser.Nickname}}</p>
    <p class="scor">Scorul : {{scorU}}</p>
</div>
    
<div >
   <h1> {{intrebari[_index].intrebare}}</h1>
 <div class="intreb">
    <form >
    <ul >
        <li  *ngFor="let rasp of intrebari[_index].raspunsuri; let j=index">
        <input class="button" type="submit" value="{{ rasp.raspuns }}" (click)=press(j)>
    </li> 
    </ul>
    </form>
 </div>
</div>

