<form (submit)="AdminPress($event)" class="form">
  <div class="" >
    <label class="label">Nickname</label>
    <input class="cod" type="text" placeholder="Piticul cel Bun" [(ngModel)]="playerADMIN.Nickname" name = "first">
  </div>
  <!--<div class="photo">
    <label class="label" for="file">Choose a photo</label>
    <input  type="file" name="PlayerAdmin">
  </div>-->
  <div class="but">
    <input class="button" type="submit" value="Creaza un joc">
  </div>
</form>
<img src="\assets\img\winter.png" class="winter">
<img src="\assets\img\captaib.png" class="captain">
