<div class="container">
  <h1 class="titlu">
    Despre joc...
  </h1>
  <p class="continut">
    Joculețul este simplu , încearcă să păcălești oponentul punând răspunsuri false. Jocul e împărțit în
    trei faze,prima constă în zece întrebări , pentru un răspuns corect primești 10 puncte, iar în cazul în
    care oponentul alege varianta ta de raspuns primești 5 puncte. Pentru faza a doua ,cinci întrebări,
    fiecare răspuns se punctează cu 20 p și 10 p, iar a treia la fel 5 întrebări cu valoarea de 30 p ,15p.
  </p>
  <h2 class="succes">Succes !</h2>
</div>
<div class="containr">
    <ul>
      <li><img src="\assets\img\ironman1.png" class="ironman"></li>
      <li><img src="\assets\img\hulk.png" class="hulk"></li>
      <li><img src="\assets\img\blackwidow.png" class="blackwidow"></li>
      <li><img src="\assets\img\america.png" class="america"></li>
      <li><img src="\assets\img\thor1.png" class="thor"></li>
      <li><img src="\assets\img\hawkyeye.png" class="hawkeye"></li>
    </ul>
