.finally{
    position: fixed;
     top: 0; 
     left: 0;
     min-width: 100%;
     min-height: 100%;
     background-image: url("/assets/img/deadpool.jpg");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;
}
.name{
    font-size:60px;
    font-style:bold;
    font-family: 'frozen', sans-serif; 
    color:white;
}

.admin{
    float:left;
    position: absolute;
    top: 20%;
    left: 15%;

}

@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}

.nuegal{
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-size:50px;
    position: absolute;
    top:45%;
    left:25%;
    color:white;
    
}
@keyframes type{
    0%{
        width:0ch;
    }
    100%{
        width: 22ch;
    }
}
.egal{
    animation: typ 3s steps(9);
    overflow: hidden;
    white-space: nowrap;
    font-size:50px;
    position: absolute;
    top:45%;
    left:40%;
    color:white;
}
@keyframes typ{
    0%{
        width:0ch;
    }
    100%{
        width: 8ch;
    }
}
